[Desktop Entry]
Encoding=UTF-8
Name=Testwage
Comment=Testwage P2P Cryptocurrency
Comment[fr]=Testwage, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Testwage, eşten eşe kriptografik sanal para birimi
Exec=testwage-qt %u
Terminal=false
Type=Application
Icon=testwage128
MimeType=x-scheme-handler/testwage;
Categories=Office;Finance;
